@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body, header, main {
    margin: 0;
}

header {
    text-align: center;

    background-image: linear-gradient(white, #98ff98 55%);
    min-height: 25em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title-header {
    font-size: 5em;
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
    font-weight: 300;
}

.title-header:hover {
    animation: hover-bold infinite;
    animation-duration: 5s;
    animation-timing-function: ease;
}

@keyframes hover-bold {
    0% {font-variation-settings: "wght" 300, "wdth" 100;}
    25% {font-variation-settings: "wght" 500, "wdth" 100;}
    50% {font-variation-settings: "wght" 700, "wdth" 100;}
    75% {font-variation-settings: "wght" 500, "wdth" 100;}
    100% {font-variation-settings: "wght" 300, "wdth" 100;}
}