:root {
  --primary:  #bfdd89;
  --secondary: #75986b;
}

html {
    font-family: 'Palatino Linotype', Palatino, 'Times New Roman', Times, serif;
}

p, nav {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

nav {
    background:  var(--primary);
    padding: 1em;

    a {
        text-decoration: none;
        font-weight: bold;
        color: black;
    }

    a:hover {
        text-decoration: underline;
        color: var(--secondary);
    }
}