<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <title>{{ page.title }}</title>
</head>
<body>
    <nav class="navbar">
        <div class="navlogo">
            <img src="/assets/images/chemiclipse-logo-white.svg" alt="Chemiclipse" width="60" height="60">
        </div>
            
        <ul class="navlinks">
            <li><a>About</a></li>
            <li><a href="/blog.html">All Posts</a></li>
        </ul>
    </nav>
    {{ content }}
</body>
</html>